/* Import utils */
:root {
  --main-color: #757575;
  --title-color: #212121;
  --accent-color: #2196F3;
  --white-color: #ffffff;
  --secondary-bcg: #F5F4FA;
  --black-color: #000000;
  --footer-bcg: #2F303A;
  --hero-overlay: rgba(47, 48, 58, 0.4);
  --worktypes-bcg: rgba(47, 48, 58, 0.8);
  --btn-hover: #188CE8;
  --header-line: #ECECEC;
  --cards-line: #EEEEEE;
  --footer-contact: rgba(255, 255, 255, 0.6);
  --logo-icons: #AFB1B8;
  --footer-links: rgba(255, 255, 255, 0.1);
  --footer-input-border: rgba(255, 255, 255, 0.3);
  --overlay-bcg: rgba(33, 150, 243, 0.9);
  --modal-bcg: rgba(0, 0, 0, 0.2);
  --modal-btn: rgba(0, 0, 0, 0.1);
  --modal-placeholder: rgba(117, 117, 117, 0.5);
  --modal-input-border: rgba(33, 33, 33, 0.2);
  --main-font: Roboto, Montserrat, DM Sans, sans-serif;
  --main-font-size: 14px;
  --main-letter-spacing: 0.03em;
}

.portfolio-card__link, .page-footer__adr-link--white, .page-footer__adr-link, .logo, .page-header__social-link, .page-header__contacts-link, .page-header__nav-link {
  display: inline-block;
  text-decoration: none;
}

.portfolio-card__list, .portfolio-tabs__list, .page-footer__adr-list, .clients__list, .socials, .team__list, .worktypes__list, .features__list, .page-header__social-bar, .page-header__contacts, .page-header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: var(--main-font-size);
  letter-spacing: var(--main-letter-spacing);
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  font-size: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bcg);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* Import components */
.page-header {
  position: relative;
}
@media screen and (min-width: 768px) {
  .page-header {
    border-bottom: 1px solid var(--header-line);
  }
}
.page-header__container {
  position: relative;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .page-header__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .page-header__container {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__container {
    width: 1200px;
  }
}
.page-header__nav {
  margin-bottom: auto;
}
@media screen and (min-width: 768px) {
  .page-header__nav {
    margin-left: 92px;
  }
}
@media screen and (min-width: 768px) {
  .page-header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.page-header__nav-item + .page-header__nav-item {
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .page-header__nav-item + .page-header__nav-item {
    margin-top: 0;
    margin-left: 50px;
  }
}
.page-header__nav-link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__nav-link:focus, .page-header__nav-link:hover, .page-header__nav-link.is-active {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .page-header__nav-link {
    position: relative;
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .page-header__nav-link.is-active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    border-radius: 2px;
  }
}
.page-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: auto;
}
@media screen and (min-width: 768px) {
  .page-header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto 0 auto auto;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto 0 auto auto;
  }
}
.page-header__contacts-item {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.page-header__contacts-item + .page-header__contacts-item {
  font-size: 34px;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .page-header__contacts-item {
    margin-bottom: 0px;
  }
  .page-header__contacts-item + .page-header__contacts-item {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__contacts-item {
    margin-bottom: 0;
  }
  .page-header__contacts-item + .page-header__contacts-item {
    margin-left: 30px;
    margin-top: 0;
  }
}
.page-header__contacts-link {
  color: inherit;
}
@media screen and (min-width: 768px) {
  .page-header__contacts-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-header__contacts-link:hover, .page-header__contacts-link:focus {
    color: var(--accent-color);
  }
  .page-header__contacts-link:hover .page-header__contacts-icon, .page-header__contacts-link:focus .page-header__contacts-icon {
    fill: var(--accent-color);
  }
}
.page-header__contacts-icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header__contacts-icon {
    display: block;
    fill: var(--main-color);
    margin-right: 10px;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .page-header__contacts-icon {
    margin-right: 10px;
  }
}
.page-header__social-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
  margin-bottom: -10px;
}
@media screen and (min-width: 768px) {
  .page-header__social-bar {
    display: none;
  }
}
.page-header__social-item {
  padding: 0 10px;
  margin-bottom: 10px;
}
.page-header__social-item:first-child {
  padding-left: 0;
}
.page-header__social-item:last-child {
  padding-right: 0;
}
.page-header__social-item + .page-header__social-item {
  border-left: 1px solid var(--modal-input-border);
}
.page-header__social-link {
  color: var(--btn-hover);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-thumb {
  width: 24px;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
  width: 19px;
  margin: 0 auto;
  fill: var(--title-color);
}

.icon-thumb:hover .icon-cross,
.icon-thumb:focus .icon-cross {
  fill: var(--accent-color);
}

.menu-button.is-open {
  position: sticky;
  top: calc(0% + 10px);
  right: calc(0% + 15px);
  z-index: 100;
}

.menu-container {
  min-height: 400px;
  background-color: var(--white-color);
  padding: 48px 40px;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
  }
  .menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 10;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-height: 80px;
    padding: 0;
  }
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
}
.logo__span {
  color: var(--black-color);
}
.logo__span--inverse {
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 767px) {
  .menu-opened .logo {
    display: none;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 400px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay)), to(var(--hero-overlay))), url("../images/hero-mob.jpg");
  background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)), url("../images/hero-mob.jpg");
  background-size: 480px 400px;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay)), to(var(--hero-overlay))), url("../images/hero-mob@2x.jpg");
    background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)), url("../images/hero-mob@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay)), to(var(--hero-overlay))), url("../images/hero-tab.jpg");
    background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)), url("../images/hero-tab.jpg");
    background-size: 768px 400px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay)), to(var(--hero-overlay))), url("../images/hero-tab@2x.jpg");
    background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)), url("../images/hero-tab@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay)), to(var(--hero-overlay))), url("../images/hero-desk.jpg");
    background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)), url("../images/hero-desk.jpg");
    background-size: 1600px 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-overlay)), to(var(--hero-overlay))), url("../images/hero-desk@2x.jpg");
    background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)), url("../images/hero-desk@2x.jpg");
  }
}
.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__btn {
  margin: 30px auto 0;
}

.btn {
  display: block;
  padding: 10px 28px;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: Roboto, Montserrat, DM Sans, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: var(--btn-hover);
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}
.features__item {
  margin: 15px;
}
@media screen and (min-width: 480px) {
  .features__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 46%;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 22%;
  }
}
.features__bcg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 100%;
  background-color: var(--secondary-bcg);
  border-radius: 4px;
}
.features__label {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__label {
    text-align: start;
  }
}
.features__text {
  line-height: 1.71;
}

.worktypes__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.worktypes__item {
  position: relative;
}
.worktypes__text {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 70px;
  padding: 8px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--worktypes-bcg);
}
@media screen and (max-width: 1200px) {
  .worktypes {
    display: none;
  }
}

.team {
  background-color: var(--secondary-bcg);
}
.team__list {
  display: grid;
  row-gap: 30px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 768px) {
  .team__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.team-card {
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card__content {
  padding: 30px 32px;
}
.team-card__title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-card__text {
  line-height: 1.19;
  text-align: center;
  margin: 10px auto 16px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
  border: none;
}
.socials__link--inverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-links);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link--inverse:hover, .socials__link--inverse:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
  border: none;
}
.socials__icon {
  fill: var(--logo-icons);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--white-color);
}
.socials__icon--inverse {
  fill: var(--white-color);
}

.clients__list {
  display: grid;
  row-gap: 30px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 768px) {
  .clients__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    grid-template-columns: repeat(6, 1fr);
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 16px 0;
  border: 1px solid var(--logo-icons);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}
.clients__icon {
  fill: var(--logo-icons);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.page-footer {
  background-color: var(--footer-bcg);
  padding: 60px 0;
}
.page-footer__container {
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__adr-thumb {
    text-align: start;
  }
}
.page-footer__adr {
  margin-top: 20px;
  margin-bottom: 60px;
  font-style: normal;
  line-height: 1.71;
}
@media screen and (min-width: 768px) {
  .page-footer__adr {
    margin-bottom: 0;
  }
}
.page-footer__adr-item:not(:last-child) {
  margin-bottom: 9px;
}
.page-footer__adr-link {
  color: var(--footer-contact);
}
.page-footer__adr-link--white {
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .page-footer__join {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__join {
    text-align: start;
    margin-left: 70px;
  }
}
.page-footer__join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.page-footer__join-item:not(:last-child) {
  margin-right: 10px;
}
.page-footer__subscribe {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .page-footer__subscribe {
    margin-left: auto;
    margin-top: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}
.page-footer__subscribe-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .page-footer__subscribe-title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__subscribe-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.page-footer__subscribe-input {
  width: 100%;
  max-width: 450px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid var(--footer-input-border);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-contact);
}
.page-footer__subscribe-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-contact);
}
.page-footer__subscribe-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-contact);
}
.page-footer__subscribe-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-contact);
}
.page-footer__subscribe-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-contact);
}
.page-footer__subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-contact);
}
@media screen and (min-width: 1200px) {
  .page-footer__subscribe-input {
    width: 358px;
    margin-right: 12px;
  }
}
.page-footer__subscribe-icon {
  vertical-align: middle;
  margin-left: 10px;
}
.page-footer__subscribe-btn {
  display: block;
  margin: 20px auto 0;
}
@media screen and (min-width: 1200px) {
  .page-footer__subscribe-btn {
    display: inline-block;
    margin: 0;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 90%;
  max-width: 450px;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  left: 100%;
  -webkit-transform: translateX(calc(-100% - 8px));
          transform: translateX(calc(-100% - 8px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: var(--modal-btn);
  background-color: var(--white-color);
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.modal__close-icon {
  width: 18px;
  height: 18px;
  fill: var(--black-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover .modal__close-icon, .modal__close-btn:focus .modal__close-icon {
  fill: var(--accent-color);
}

.offer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.offer-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}
.offer-form__label {
  position: relative;
  width: 100%;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.offer-form__label + .offer-form__label {
  margin-top: 10px;
}
.offer-form__input {
  width: 100%;
  display: block;
  padding: 11px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4px;
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.offer-form__input:focus, .offer-form__input:active {
  border: 1px solid var(--accent-color);
}
.offer-form__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.offer-form__input:focus + .offer-form__icon, .offer-form__input:active + .offer-form__icon {
  fill: var(--accent-color);
}
.offer-form__textarea {
  width: 100%;
  display: block;
  height: 96px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;
  resize: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.offer-form__textarea:focus, .offer-form__textarea:active {
  border: 1px solid var(--accent-color);
}
.offer-form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-placeholder);
}
.offer-form__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-placeholder);
}
.offer-form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-placeholder);
}
.offer-form__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-placeholder);
}
.offer-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-placeholder);
}
.offer-form__checkbox-label {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  line-height: 1.17;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .offer-form__checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}
.offer-form__checkbox-link {
  text-decoration: underline;
  color: var(--accent-color);
}
.offer-form__checkbox-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.offer-form__checkbox-input:checked ~ .offer-form__checkbox-icon--checked {
  opacity: 1;
}
.offer-form__checkbox-input:checked ~ .offer-form__checkbox-icon--unchecked {
  opacity: 0;
}
.offer-form__checkbox-icon--unchecked {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  opacity: 1;
  -ms-flex-item-align: start;
      align-self: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (min-width: 480px) {
  .offer-form__checkbox-icon--unchecked {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.offer-form__checkbox-icon--checked {
  position: absolute;
  left: 0;
  width: 16px;
  height: 15px;
  fill: var(--accent-color);
  background-origin: border-box;
  opacity: 0;
  -ms-flex-item-align: start;
      align-self: start;
}
@media screen and (min-width: 480px) {
  .offer-form__checkbox-icon--checked {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.offer-form__checkbox-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -15px;
}
@media screen and (min-width: 768px) {
  .portfolio-tabs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.portfolio-tabs__item {
  margin-bottom: 15px;
}
.portfolio-tabs__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-tabs__btn {
  color: var(--title-color);
  background-color: var(--secondary-bcg);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-tabs__btn:hover, .portfolio-tabs__btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-card__list {
  display: grid;
  row-gap: 30px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio-card__list {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-card__list {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
  }
}
.portfolio-card__item {
  max-width: 450px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio-card__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-card__item {
    width: 370px;
  }
}
.portfolio-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.portfolio-card__link:hover, .portfolio-card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card__overlay {
  display: none;
}
@media screen and (min-width: 768px) {
  .portfolio-card__overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    background: var(--overlay-bcg);
    width: 100%;
    height: 100%;
    background-color: var(--overlay-bcg);
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-card__link:hover .portfolio-card__overlay {
    position: absolute;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.portfolio-card__description {
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
}
.portfolio-card__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid var(--cards-line);
  border-top: none;
}
.portfolio-card__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-card__text {
  color: var(--main-color);
  line-height: 1.88;
  font-size: 16px;
}/*# sourceMappingURL=main.css.map */