.features {

    @media screen and (min-width: 1200px) {
    padding-bottom: 0;
    }

    &__list {
        @extend %list;
        @include flexed(flex-start, center);
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {
        margin: 15px;
        @media screen and (min-width: 480px) { 
            width: 100%;
        }
        @media screen and (min-width: 768px) { 
            width: 46%;
        }
        @media screen and (min-width: 1200px) { 
            width: 22%;
        }
    }

    &__bcg {
        @include flexed(center, center);
        height: 120px;
        width: 100%;
        background-color: var(--secondary-bcg);
        border-radius: 4px;
    }

    &__label {
        margin-top: 30px;
        margin-bottom: 10px;
        color: var(--title-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: start;
        }
    }

    &__text {
        line-height: 1.71;
    }

}