.page-header {
    position: relative;

    @media screen and (min-width: 768px) {
        border-bottom: 1px solid var(--header-line);
    }

    &__container {
        position: relative;
        min-height: 60px;
        @include flexed (center, space-between);

        @media screen and (min-width: 480px) {
        width: 480px;
        }

        @media screen and (min-width: 768px) {
        width: 768px;
        @include flexed (center, flex-start);
        }

        @media screen and (min-width: 1200px) {
        width: 1200px;
        }
    }

    &__nav {
        margin-bottom: auto;
        margin-top: -12px;

        @media screen and (min-width: 768px) {
            margin-left: 92px;
            margin-top: 0;
        }
    }

    &__nav-list {
        @extend %list;

        @media screen and (min-width: 768px) {
            @include flexed (center, flex-start);
        }
    }

    &__nav-item {
        & + & {
            margin-top: 32px;
        }

        @media screen and (min-width: 768px) {
            & + & {
                margin-top: 0;
                margin-left: 50px;
            }
        }
    }

    &__nav-link {
        @extend %link;

        color: var(--title-color);
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus,
        &:hover,
        &.is-active {
            color: var(--accent-color);
        }

        @media screen and (min-width: 768px) {
            position: relative;
            padding: 32px 0;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            
            &.is-active::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 4px;
                background-color: currentColor;
                border-radius: 2px;
            }
        }
    }

    &__contacts {
        @extend %list;

        display: flex;
        flex-direction: column-reverse;
        margin-top: auto;

        @media screen and (min-width: 768px) {
            flex-direction: column;
            margin: auto 0 auto auto;
        }

        @media screen and (min-width: 1200px) {
            @include flexed (center, flex-start);
            flex-direction: row;
            margin: auto 0 auto auto;
        }
    }

    &__contacts-item {
        margin-bottom: 32px;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: var(--main-color);
       
        & + & {
            font-size: 34px;
            color: var(--accent-color);
        }
        @media screen and (min-width: 768px) {
            margin-bottom: 0px;

            & + & {
                margin-top: 10px;
            }
        }

        @media screen and (min-width: 1200px) {
            margin-bottom: 0;

            & + & {
                margin-left: 30px;
                margin-top: 0;
            }
        }
    }
    
    &__contacts-link {
        @extend %link;
        color: inherit;

        @media screen and (min-width: 768px) {
            display: flex;
            margin-right: auto;
    
            color: var(--main-color);
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;

            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                color: var(--accent-color);

                    .page-header__contacts-icon {
                    fill: var(--accent-color);
                }
            }
        }
    }

    &__contacts-icon {
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
            fill: var(--main-color);
            margin-right: 10px;

            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        @media screen and (min-width: 1200px) {
            margin-right: 10px;
        }
    }

    &__social-bar {
        @extend %list;
        @include flexed (center, flex-start);
        flex-wrap: wrap;
        margin-top: 64px;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__social-item {
        padding: 0 10px;
        margin-bottom: 10px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        & + & {
            border-left: 1px solid var(--modal-input-border);
        }
    }

    &__social-link {
        @extend %link;
        color: var(--btn-hover);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    }
}

.menu-opened .page-header {
    @media screen and (max-width: 767px) {
        position: fixed;
        background-color: var(--white-color);
        width: 100%;
        z-index: 10;
    }
}